@font-face {
  font-family: "ALS Hauss Book";
  src: url("../fonts/ALSHauss-Book.woff2") format("woff2"),
    url("../fonts/ALSHauss-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ALS Hauss Regular";
  src: url("../fonts/ALSHauss-Regular.woff2") format("woff2"),
    url("../fonts/ALSHauss-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bona Nova";
  src: url("../fonts/BonaNovaItalic.woff2") format("woff2"),
    url("../fonts/BonaNovaItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
